body{
   font-family: sans-serif;
   background-color: whitesmoke;
}

h1, h2, h3, h4, h5, h6, p, ul, li img {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

header{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 24px;
}

header p{
    font-size: 20px;
}

nav ul{
    display: flex;
    gap: 32px;
    list-style-type: none;
    font-size: 18px;
}

nav ul a {
    text-decoration: none;
    color: black;
}

nav ul a:hover{
    color: #475D8C;
    text-decoration: underline;
}

main{
    max-width: 1200px;
    margin: auto;
}

.blu{
    max-width: 1200px;
    background-color: #475D8C;
    margin: auto;
    color: white;
    padding: 32px 0 0 32px;
    line-height: normal;
}

.blu h1 {
    font-size: 64px;
}

.blu h3 {
    padding: 32px 0 32px 0px;
    font-size: 28px;
}

.bianco{
    padding: 32px;
}

.bianco p{
    font-size: larger;
}

.verde{
    background-color: #435B63;
    color: white;
    display: flex;
}

.verde img{
    height: 350px;
    padding: 32px;
}

.verde p{
    padding: 150px 0 120px 32px;
    font-size: larger;
}

.blub{
    display: flex;
    background-color: #475D8C;
}

.blub p{
    color: white;
    padding: 160px 0 120px 32px;
    font-size: larger;
}

.blub img{
    height: 350px;
    padding: 32px;
}

footer{
    max-width: 1200px;
    margin: auto;
    padding: 32px;
}

footer ul {
    display: flex;
    list-style: none;
    gap: 32px;
}

footer ul a{
    text-decoration: none;
    color: black;
}

footer ul a:hover {
    color: #475D8C;
    text-decoration: underline;
}